# Supabase Configuration
VITE_SUPABASE_URL=https://tcqamchiwtijniiwbpde.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjcWFtY2hpd3Rpam5paXdicGRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4Nzk5NDAsImV4cCI6MjA5MjQ1NTk0MH0.agRPUICg0eZuNegdrs33kjxJA3t0KYn6mvn-LRzSFhI

# Institución (opcional)
VITE_INSTITUCION_ID=1
